header {
    text-align: center;
    background-color: red;
    color: white;
    width: 180px;
    height: 30px;
    margin: auto;
    justify-content: center;
    font-size: 22px;
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    justify-self: center;
    border: solid 2px white;
}
.sideBar {
    text-align: center; 
    height: 100%;
    width: 180px;
    background-color:#90BEDE;
    color: black;
    border-radius: 25px;
    font-size: 20px;
    border: solid 3px #A1FCDF;
    display: grid;
    grid-column-start: 1;
    grid-row-start: 2; 
    justify-self: center;
    font-family: 'Montserrat', sans-serif;
}

.highScores {
    text-align: center;
    display:grid;
    grid-column-start: 3;
    grid-row-start: 2;
    height: 85%;
    width: 180px;
    background-color: #90BEDE;
    color: black;
    border-radius: 25px;
    font-size: 22px;
    border: solid 3px #A1FCDF;
    top: 50px;
    right:10px;
    justify-self: center;
    font-family: "Montserrat";
}

body {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 15% 110% 10%;
    grid-column-gap: 10px;
    grid-row-gap: 8px;
    font-family: "Montserrat";
    background-color: #90BEDE;
    background-image: url("images/space.jpeg");
}

.replayBtn {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 3;
    align-self: end;
    justify-self: center;
    width: 185px;
    height: 80px;
    color: white;
}

.button {
    border-radius: 12px;
    border: solid 3px #A1FCDF;
    background-color: #90BEDE;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
}
.button:hover {
    background-color: #A1FCDF;
    color: black;
    border: solid 6px #90BEDE;
}

#cardBoard {
    display: grid;
    grid-template-rows: 23% 23% 23% 23%;
    grid-template-columns: 17% 17% 17% 17% 17%;
    grid-row-gap: 8px;
    grid-column-gap: 4px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    height: 99%;
    width: 100%;
    grid-column-gap: 10px;
    justify-self: center;
    border: solid 4px #A1FCDF;
    border-radius: 25px;
    justify-content: center;
    text-align: center;
    justify-self: center;
    justify-items: center;
    background-color: #A1FCDF;

}

#cardBoard:hover {
    background-color: #A1FCDF;
}

.empty {
    grid-row-start:1;
    grid-column-start: 1;
    grid-column-end: 6; 
}

footer {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    background-color: #90BEDE;
    border: solid 2px white;
    justify-self: center;
    border-radius: 25px;
    height: 50%;
    width: 50%;
    text-align: center;
    align-self: center; 
}
a {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    text-align: center;
    align-self: center;
    height: 70%;
    width: 50%;
    justify-self: center;
    text-decoration: none;
    color: black;
    text-align: center;
}

#c1, #c2, #c3, #c4, #c5, #c6, #c7, #c8, #c9, #c10, #c11, #c12, #c13, #c14, #c15, #c16, #c17, #c18, #c19, #c20 {
    background: #90BEDE;
    width: 93%;
    height: 93%;
    border: solid 6px black;
}

p {
    margin-left: 0.5vmin;
    margin-right: 0.5vmin;
}

img {
    height: 90%;
    margin-top: 20px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .2s;
}

img.flip {
    transform: rotateY(180deg);
    transform: scale(0.50);
    transition: transform .2s;
}

img:active {
    transform: scale(0.50);
    transition: transform .2s;
    transform: rotateY(180deg);
  }


@media only screen and (max-width: 964px){
body {
    display: grid;
    grid-template-columns: 180px 180px 180px 180px 180px;
    grid-template-rows:  100px 180px 180px 180px 180px

}
.sideBar {
    display: grid;
    grid-row-start: 5;
    grid-column-start: 2;
    grid-column-end: 5;
    font-size: 14px;
    width: 570px;
    height: 100px;
    justify-self: center;
    border: solid 4px #A1FCDF;
}
h3 {
    font-size: 14px;
    margin: 4px;
}
header {
    display: grid;
    grid-column-start: 3;
    justify-self: center;
    width: 149px;
    height: 30px;

}
p {
    margin: 1px;
}
.highScores{
    display: grid;
    grid-row-start: 5;
    grid-column-start: 3;
    grid-column-end: 5;
    height: 34%;
    width: 100%;
    justify-self: center;
    align-self: end;
    border-radius: 10px;
    border: solid 4px #A1FCDF;
}
.replayBtn {
    display: grid;
    grid-row-start: 5;
    grid-column-start: 2;
    height: 38.5%;
}
#cardBoard {
    width: 100%;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    justify-self: center;
    border: solid 4px #A1FCDF;
}
footer {
    display: none;
}
a {
    display: none;
}
}

@media only screen and (max-width: 375px){

#cardBoard {
    width: 100%;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    justify-self: center;
    border: solid 4px white;
}

body {
    display: grid;
    grid-template-columns: 180px 180px 180px 18px 180px;
    grid-template-rows:  10px 18px 18px 18px 18px;

}

.sideBar {
    display: grid;
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 18px;
    width: 100%;
    height: 50%;
    justify-self: center;
}
h3 {
    font-size: 14px;
    margin: 4px;
}

header {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    justify-self: center;
    align-self: center;
    width: 149px;
    height: 30px;

}
}